{{!< default}}
{{#post}}
<article class="ts-post-content">
    <header>
        <h1 class="ts-post-title">{{title}}</h1>
        <div class="ts-meta">{{date format="YYYY-MM-DD"}}</div>
    </header>
    <section class="ts-content-body">
        {{content}}
    </section>
</article>
{{/post}}
